.portada
{
    background-image:url("/IMG/proyecto-portada.jpg");
    background-size: cover;
    height: 500px;
    
    
}

body 
{
    background-color: rgb(0, 0, 0);
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h1
{
    text-align: center;
    color:rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
}

h2
{
    color: white;
}

section
{
    color: white;
}

.menu
{
    color: white;
    padding: 0;
    margin: 10px;
    text-align:left;
}

.menu li a 
{
    text-decoration: none;
    padding: 15px 30px;
    display:block;
}

.menu li
{
    display:inline-flex;
    text-align: left;
}

a:visited
{
    color: #e2e1e1;;
    text-decoration:underline;
    text-transform:lowercase;
    /* Hallar como subrayar link visitado*/
}

.menu li a:hover
{

    background-color:rgba(10, 20, 20, 0.192);
    border-radius: 10px;
    color: white;
}


p
{
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

ul
{
    list-style-type: square;
    text-decoration: none;
}

a
{
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: double;
}


